################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LEDControl/obj/Debug
/T3000.LEDS/bin/Debug
/T3000.LEDS/obj/Debug
/.vs
/LEDControl/bin/Debug
/LED_src/bin/Debug
/LED_src/obj/Debug
/LED_src.zip
/UpgradeLog.htm
